.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container-fluid {
  background-color: #f5f5dc;
  /* Crema o crudo */
  padding-top: 5px;
  /* Agrega un poco de espacio en la parte superior */
  min-height: 100vh;
  /* Asegura que el contenedor ocupe al menos todo el alto de la ventana */
}

div.card {
  max-height: 80vh;
  overflow-y: auto;
}


.navbar {
  background-color: #f5f5dc;
}


.card {

  height: 500px;
  border-radius: 15px;
  /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  /* Sombra difuminada */
}

.btn-login {
  width: 150px;
  /* Ancho fijo del botón */
}

.btn-pass {
  width: 250px;
}

/* Agrega estos estilos CSS en tu archivo de estilos */
.warning {
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  position: fixed;
  /* Cambiar a posición fija */
  top: 5%;
  /* Posición vertical al 50% de la pantalla */
  left: 50%;
  /* Posición horizontal al 50% de la pantalla */
  transform: translate(-50%, -50%);
  /* Centrar completamente el elemento */
  z-index: 999;
  /* Asegurarse de que esté en la parte superior */
}

.overflow-visible {
  overflow: visible !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Fondo oscurecido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 80vw;
  /* Ancho del modal al 60% del ancho de la ventana */
  max-width: 800px;
  /* Opcional: para limitar el ancho máximo */
  background-color: #f5f5dc !important;
  /* Color blanco crudo */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #333;
  /* Color del texto */
}

ul,
ol {
  list-style-type: none;
}

/* Ajusta los estilos según sea necesario */